* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* General Section */

html {
  font-size: 62.5%;
}

body {
  font-family: "Allerta", "Abel", sans-serif;
  background-color: #f4f3f8;
  position: relative;
}

/* Nav Section */

#navbarMonstera {
  max-width: 130rem;
  margin: 0 auto;
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
}

#navMid {
  display: flex;
  justify-content: space-between;
  gap: 8rem;
}

#navMid h4 {
  font-size: 2rem;
}
#navMid h4::hover {
  margin-bottom: 1px solid #000;
}

#navEnd {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}

/* Hero Section */

#midWhole {
  max-width: 120rem;
  margin: auto;
}
#midWholePart11 {
  margin-bottom: 5rem;
  margin-top: 12rem;
}

ul {
  max-width: 50%;
  display: flex;
  flex-direction: column;
}
ul li {
  font-size: 2rem;
  line-height: 1.6;
}

li {
  justify-self: center;
}
#monstera {
  font-size: 11rem;
  line-height: 1;
}

#discover {
  width: 250px;
  border: 1px solid transparent;
  border-radius: 50px;
  color: #fff;
  background-color: #466d50;
  font-size: 2.9rem;
  font-weight: 400;
  padding: 1.5rem 2.5rem;
  text-align: center;
  position: relative;
}

#midWholePart122 {
  position: absolute;
  top: 514px;
  left: 278px;
}

#midWholePart13 {
  margin-top: 15rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  margin-left: -32px;
}

.midWholePart13Parts {
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: rem; */
  width: 250px;
  text-align: center;
}
h4 {
  font-size: 2rem;
}
p {
  font-size: 1rem;
}
.next {
  width: 200px;
}
/* ........................ */
/* Float Images  */
/* ........................... */

#imgMain {
  max-width: 100%;
  position: absolute;
  top: 130px;
  right: 10px;
  /* width: 47%; */
  /* height: 90%; */
  width: 56rem;
  height: 70rem;
}
